body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a20707;
  }
  
  header {
    background-color: #ad0bb993;
    color: #ffffff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 50px 20px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  section ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer {
    background-color: #333333;
    color: #ef0d0d;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  